.footer{
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: right;
    height: 3vh;
    align-items: center;
}
.footer small{
    margin-right: 10px;
}