@import "./variables";

@mixin format-document {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    outline: none;
}

@mixin  center-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin transition-config{
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out; /* Opera */
    -ms-transition: all 0.5s ease-in-out; /* Explorer 10 */
}





